.wolf-file-drop-zone {

    .wolf-dropzone {
        background-color: theme("colors.wolf-gray-dark.500");
        min-height      : 200px;
        padding         : 15px;
        border-radius   : 16px;
        border          : 2px dashed theme("colors.wolf-gray-light.100");
        display         : flex;
        justify-content : center;
        align-items     : center;

        &.on-focus {
            background-color: theme("colors.wolf-gray-dark.600");
        }

        &.on-active {
            background-color: theme("colors.wolf-gray-dark.700");
            border-color    : theme("colors.wolf-gray-light.1000");

        }

        .input-content {
            display        : flex;
            flex-direction : column;
            justify-content: center;
            align-items    : center;

            .info-header {
                // background-color: red;
                font-size  : 12px;
                font-weight: 700;
                color      : theme("colors.wolf-gray-light.600");
            }

            .info-content {
                font-size: 12px;
                color    : theme("colors.wolf-gray-light.400");
            }

        }

        .multimedia-box-container {

            position: relative;

            // max-height: 100px;
            .reset-button {
                position        : absolute;
                right           : -15px;
                top             : -15px;
                width           : 30px;
                height          : 30px;
                background-color: theme("colors.wolf-gray-dark.1000");
                display         : flex;
                align-items     : center;
                justify-content : center;
                color           : theme("colors.wolf-gray-light.2200");
                border-radius   : 50%;

                transition: background-color .5s;

                &:hover {
                    background-color: theme("colors.wolf-blue-purple.500");
                }

                &:focus {
                    outline: none;
                }

            }

            img {
                width        : 100%;
                height       : 100%;
                object-fit   : cover;
                border-radius: 8px;
            }

            video {
                width        : 100%;
                height       : 100%;
                object-fit   : cover;
                border-radius: 8px;
            }
        }



    }

}