.wolf-buttom {
    font-size    : 14px;
    color        : theme("colors.wolf-gray-light.1900");
    padding      : 10px;
    font-family  : "open-sans"sans-serif;
    font-weight  : 500;
    border-radius: 9px;
    transition   : background-color .7s;

    &:focus {
        outline: none;
    }

    &.wolf-buttom-primary {
        background-color: theme("colors.wolf-blue.500");
        border          : 1.5px solid theme("colors.wolf-gray-light.400");

        &:focus {
            background-color: theme("colors.wolf-off-blue.300");
            outline         : none;
        }

        &:hover {
            background-color: theme("colors.wolf-blue.200");
        }
    }



    &.wolf-buttom-primary-gradient {

        background: rgb(24, 81, 197);
        background: linear-gradient(90deg, rgba(24, 81, 197, 1) 0%, rgba(116, 67, 190, 1) 100%);
        border    : 1px solid theme("colors.wolf-gray.500");
        color     : theme("colors.wolf-gray-light.2200");
        position  : relative;
        z-index   : 10;
        overflow  : hidden;

        &::before {
            content         : "";
            display         : block;
            background-color: theme("colors.wolf-blue.600");
            left            : 0;
            top             : 0;
            position        : absolute;
            width           : 100%;
            height          : 100%;
            z-index         : -1;
            opacity         : 0;
            transition      : opacity .7s, background-color .7s;
        }

        &:hover {
            &::before {
                opacity: 1;
            }
        }

        &:focus {
            &::before {
                opacity         : 1;
                background-color: theme("colors.wolf-blue.200");
            }
        }



    }

    &.wolf-btn-primary-2 {

        background-color   : theme("colors.wolf-blue-purple.500");
        // color           : theme("colors.wolf-gray-light.2000") !important;



        &:focus {
            background-color: theme("colors.wolf-blue-purple.400");
            outline         : none;
        }

        &:hover {
            background-color: theme("colors.wolf-blue-purple.300");
        }
    }

    &.wolf-btn-secondary-traparent {

        // background-color: theme("colors.wolf-gray-dark.800");
        color: theme("colors.wolf-gray-light.2200");

        // background-color: red;

        &:focus {
            background-color: theme("colors.wolf-gray-accent.700");
            outline         : none;
        }

        &:hover {
            background-color: theme("colors.wolf-gray-accent.600");
        }
    }

    &.wolf-btn-secondary {

        background-color: theme("colors.wolf-gray-dark.800");
        color           : theme("colors.wolf-gray-light.2200");

        // background-color: red;

        &:focus {
            background-color: theme("colors.wolf-gray-accent.700");
            outline         : none;
        }

        &:hover {
            background-color: theme("colors.wolf-gray-accent.600");
        }
    }

    &.wolf-btn-white {

        background-color: theme("colors.wolf-gray-light.2000");
        color           : theme("colors.wolf-gray-dark.400");

        // background-color: red;

        &:focus {
            background-color: theme("colors.wolf-gray-dark.400");
            outline         : none;
        }

        &:hover {
            background-color: theme("colors.wolf-gray-light.1300");

        }
    }



}