.wolf-form {
    // background-color: blue;
    width    : 100%;
    max-width: 500px;
    padding  : 15px;

    span,
    p {
        // background-color: red;
        font-family: "open-sans";
        font-size  : 14px;
        font-weight: 400;
        color      : theme("colors.wolf-gray-light.800");
    }

    .wolft-form-control-label {
        span {
            color      : theme("colors.wolf-gray-light.1500");
            font-weight: 500;
            font-size  : 14px;
        }
    }
}

.wolf-form-control {
    width         : 100%;
    display       : flex;
    flex-direction: column;


    .wolf-form-control-text-input {
        background-color: theme("colors.wolf-gray-dark.500");
        padding         : 5px 10px;
        font-size       : 16px;
        font-family     : "open-sans";
        color           : theme("colors.wolf-gray.725");
        font-weight     : 400;
        border-radius   : 8px;
        border          : 1px solid theme("colors.wolf-gray-light.100");
        margin-bottom   : 4px;
        transition      : border .5s;

        &.text-arear {
            resize: none;
            height: 60px;

            &::-webkit-scrollbar {
                width: 0px;
            }
        }

        &::placeholder {
            color      : theme("colors.wolf-gray-light.100");
            font-family: "open-sans";
            font-weight: 400;
        }


        &:focus {
            outline         : none;
            background-color: theme("colors.wolf-gray-dark.800");
            border          : 1px solid theme("colors.wolf-blue.600");
        }

        &[type=number]::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }

    }

    p {
        font-size  : 12px;
        font-weight: 400;
        // color: theme("colors.wolf-gray-light.300");
    }

    .wolf-form-control-info {
        color: theme("colors.wolf-gray-light.500");
    }

    .wolf-form-control-error {
        // background-color: blue;
        color: theme("colors.wollf-red.500");

    }

    .wolf-form-control-warrnig {
        color: theme("colors.wolf-yellow.500");
    }

}