.wolf-pc-navbar {
    // // background-color: red;
    width              : 100%;
    display            : flex;
    justify-content    : space-between;
    align-items        : stretch;
    height             : 60px;
    position           : fixed;
    top                : 0;
    // background-color: red;

    .logo {
        // background-color: blue;
        display    : flex;
        align-items: center;
        padding    : 0 30px;
    }

    .main-option {
        padding: 0 30px;
    }

    .wolf-drop-menu-container {
        // background-color: red;
        display    : flex;
        height     : 100%;
        align-items: center;

        li {
            // background-color: blue;
        }

        .wolf-nav-link {
            color      : theme("colors.wolf-gray.850");
            font-family: "open-sans";
            font-weight: 300;
            font-size  : 14px;
            margin     : 0 15px;

            svg {
                // background-color: red;
                width: 16px;
            }


        }

        .wolf-nav-link-icon {
            // background-color: red !important;
            // margin: 40px;
            display        : block;
            font-size      : 16px;
            margin         : 0 10px;
            width          : 36px;
            height         : 36px;
            border         : 1px solid theme("colors.wolf-gray.500");
            border-radius  : 50%;
            display        : flex;
            justify-content: center;
            align-items    : center;
        }



    }

}