.wolf-pc-navbar {
    // // background-color: red;
    width              : 100%;
    display            : flex;
    justify-content    : space-between;
    align-items        : stretch;
    height             : 60px;
    position           : fixed;
    top                : 0;
    // background-color: red;

    .logo {
        // background-color: blue;
        display    : flex;
        align-items: center;
        padding    : 0 30px;
    }

}