.wolf-pc-navbar {
    width   : 100%;
    padding : 0 30px;
    position: fixed;
    top     : 0;
    z-index : 900;




    .wolf-pc-navbar-body {
        // background-color: red;

        height         : 60px;
        width          : 100%;
        display        : flex;
        justify-content: space-between;
        position       : relative;
        align-items    : center;

        // background-color: red;
        transition: background-color 1s border-radius 1s;

        &.pc-navbar-body-scroll {
            // background-color: red;
            background-color          : rgba($color: #13161a, $alpha: 0.5);
            backdrop-filter           : blur(20px);
            border-bottom-left-radius : 16px;
            border-bottom-right-radius: 16px;
        }



        h3 {
            // color      : theme('colors.wolf-gray-light.2000');
            color      : theme("colors.wolf-gray-light.2200");
            font-weight: 600;
            font-size  : 16px;
        }

        a {
            transition: color .8s;

            &:hover {
                h3 {
                    // background-color: red;
                    color: #fff;
                }
            }
        }




        &.mode-explorer {
            background-color: theme("colors.wolf-gray-dark.300");

            // border-bottom   : 1px solid theme("colors.wolf-gray-dark.800");
            .logo-img {
                background-color: theme("colors.wolf-gray-dark.300");
            }

            .avatar-zone {
                background-color: theme("colors.wolf-gray-dark.600");

            }

            .drop-menu-iten {
                background-color: theme("colors.wolf-gray-dark.300");
                border          : 1px solid theme('colors.wolf-gray-dark.700');
                border-radius   : 8px;
            }



        }

        .logo-section {
            h1 {
                font-size  : 24px;
                font-weight: 800;
                color      : theme("colors.wolf-gray-light.2200");
            }

            .logo-img {

                position     : absolute;
                bottom       : -15px;
                left         : 15px;
                padding      : 2px;
                border-radius: 50%;
            }


        }

        .user-zone {
            display    : flex;
            align-items: center;

            .icon-zone {
                color          : theme("colors.wolf-gray-light.2200");
                font-size      : 20px;
                width          : 40px;
                height         : 40px;
                display        : flex;
                justify-content: center;
                align-items    : center;
                border-radius  : 50%;



                transition: background-color .5s;

                &:hover {
                    background-color: theme("colors.wolf-gray-dark.1000");
                }


            }

            .wof-pc-drop-container {
                position: relative;

                .wolf-pc-drop-box {
                    background-color: theme("colors.wolf-gray-dark.400");
                    position        : absolute;
                    top             : calc(100% + 20px);
                    right           : 0;
                    width           : 300px;
                    padding         : 15px;
                    border-radius   : 16px;
                    border          : 1px solid theme("colors.wolf-gray-dark.1200");

                    &::before {
                        content            : '';
                        width              : 100%;
                        // height: 100%;
                        height             : 25px;
                        // background-color: red;
                        position           : absolute;
                        bottom             : 100%;
                        left               : 0;

                    }
                }

            }


            .token-secction {
                margin-top: 15px;

                h3 {
                    color: theme("colors.wolf-gray-light.1000");
                }

                .token-box {
                    padding: 10px;

                    .symbol {
                        // background-color: red ;
                        font-weight: 600;
                        color      : theme("colors.wolf-gray-light.1200");
                    }

                    .value {
                        font-weight: 700;
                        color      : theme("colors.wolf-gray-light.1800");
                    }
                }
            }

            .user-secttion-header {
                display         : flex;
                align-items     : center;
                background-color: theme("colors.wolf-gray-dark.700");
                padding         : 10px;
                border-radius   : 8px;
                border          : 1px solid theme("colors.wolf-gray-dark.1000");

                .info-section {

                    margin-left: 15px;

                    h4 {
                        font-size  : 14px;
                        font-weight: 600;
                        color      : theme("colors.wolf-gray-light.2200");
                    }

                    h6 {
                        font-size  : 14px;
                        color      : theme("colors.wolf-gray-light.1000");
                        font-weight: 600;
                    }
                }

            }

            .avatar-zone {
                width           : 45px;
                height          : 45px;
                display         : flex;
                justify-content : center;
                align-items     : center;
                border-radius   : 50%;
                font-size       : 20px;
                color           : theme("colors.wolf-gray-light.2200");
                background-color: rgba($color: #4D5668, $alpha: .4);



            }


        }



    }

    .drop-menu-box {
        // background-color: red;
        position           : relative;
        padding            : 15px 5px;
        // background-color: red;
        // padding : 5px;

        .drop-menu-iten {
            position        : absolute;
            top             : calc(100%);
            background-color: theme("colors.wolf-gray-dark.500");
            left            : 0;
            min-width       : 200px;
            padding         : 15px;
            border-radius   : 8px;

            &::before {
                content            : '';
                width              : 100%;
                height             : 20px;
                position           : absolute;
                // border  : 100%;
                // background-color: blue;
                bottom             : 100%;
                left               : 0;
                display            : block;
            }

            h3 {
                // background-color: red;
                padding      : 10px;
                border-radius: 8px;
                transition   : background-color .5s;

                &:hover {
                    background-color: theme("colors.wolf-gray-dark.800");
                }
            }

        }



    }

}