.profile-header-conainer {
    padding : 60px 60px 0px 60px;
    position: relative;

    @media (max-width:700px) {
        padding: 60px 30px 0px 30px;
    }

    .cover-blur-gradien {
        width             : 100%;
        height            : 100%;
        background        : rgb(73, 82, 99);
        background        : linear-gradient(180deg, rgba(73, 82, 99, .2) 0%, rgba(8, 9, 10, 1) 100%);
        backdrop-filter   : blur(40px);
        position          : absolute;
        top               : 0;
        left              : 0;
        // right          : 0;
        // bottom         : 0;

    }

    .profile-bg {
        position        : absolute;
        top             : 0;
        left            : 0;
        width           : 100%;
        height          : 100%;
        background-color: theme("colors.wolf-gray-light.100");

        img {
            width     : 100%;
            height    : 100%;
            object-fit: cover;
        }



    }

    .profile-header-body {
        position        : relative;
        background-color: theme("colors.wolf-gray-dark.400");
        border-radius   : 16px;
        padding-bottom  : 16px;
        // border: 1px solid theme("colors.wolf-gray-dark.800");



        .cover-section {
            position        : relative;
            width           : 100%;
            height          : 300px;
            border-radius   : 16px 16px 0 0;
            display         : flex;
            justify-content : center;
            background-color: theme("colors.wolf-gray-dark.600");
            // align-items: self-end;


            img {
                width        : 100%;
                height       : 100%;
                object-fit   : cover;
                border-radius: 16px 16px 0 0;
            }

            .avatar-section {
                width           : 150px;
                height          : 150px;
                border-radius   : 50%;
                position        : absolute;
                bottom          : -70px;
                padding         : 6px;
                left            : 60px;
                background-color: theme("colors.wolf-gray-dark.400");
                // border       : 5px solid theme("colors.wolf-gray-dark.400");


                @media(max-width: 700px) {
                    width : 120px;
                    height: 120px;
                    bottom: -60px;
                    left  : auto;

                }


                img {
                    border-radius   : 50%;
                    // position     : absolute;
                    width           : 100%;
                    height          : 100%;
                    bottom          : 0;
                }

            }

        }

        .profile-body-info {
            display        : flex;
            justify-content: space-between;
            padding        : 0 60px;

            @media (max-width: 1000px) {
                padding       : 0 30px;
                flex-direction: column;
            }


            .avatar-box {
                position           : relative;
                display            : flex;
                min-height         : 70px;
                // background-color: red;
                align-items        : center;

                @media (max-width: 1000px) {
                    flex-direction: column;
                }

                .avatar-section-img {
                    padding         : 3px;
                    background-color: theme("colors.wolf-gray-dark.400");
                    width           : 140px;
                    height          : 140px;
                    position        : absolute;
                    top             : -80px;
                    border-radius   : 50%;
                    display         : flex;
                    justify-content : center;
                    align-items     : center;

                    img {
                        width        : 100%;
                        height       : 100%;
                        object-fit   : cover;
                        border-radius: 50%;
                    }
                }

            }

            .follow-section-box {
                // background-color: red;
                display              : flex;
                // width             : 100%;
                justify-content      : center;
                // justify-content: ;


            }

            .user-name-id-section {
                margin-left: 150px;

                @media (max-width: 1000px) {
                    margin-left   : 0;
                    margin-top    : 70px;
                    display       : flex;
                    flex-direction: column;
                    align-items   : center;
                }


            }

            .follow-section-item {
                // background-color: red;
                margin         : 10px;
                min-width      : 90px;
                display        : flex;
                justify-content: center;
                align-items    : center;
                flex-direction : column;

                h3 {
                    // background-color: blue;
                    font-size    : 24px;
                    font-weight  : 700;
                    color        : theme("colors.wolf-gray-light.1800");
                    line-height  : 24px;
                    margin-bottom: 5px;
                }

                span {
                    font-size  : 12px;
                    color      : theme("colors.wolf-gray-light.800");
                    line-height: 12px;
                }


                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }
            }


            .social-contact-section-box {
                // background-color: red;
                display        : flex;
                align-items    : center;
                justify-content: center;
                flex-wrap      : wrap;

                .social-n-item {
                    font-size          : 20px;
                    // padding         : 6px;
                    border-radius      : 8px;
                    margin             : 5px;
                    background-color   : theme("colors.wolf-gray-dark.800");
                    position           : relative;
                    padding            : 2px;
                    z-index            : 20;


                    &::before,
                    &::after {
                        content            : '';
                        width              : 100%;
                        height             : 100%;
                        position           : absolute;
                        // background-color: red;
                        display            : block;
                        left               : 0;
                        top                : 0;
                        border-radius      : 8px;
                        transition         : transform .5s, background-color .5s;



                    }



                    &:first-child {
                        margin-left: 0;
                    }

                    &:last-child {
                        margin-right: 0;
                    }

                    .icon-section {
                        background-color: theme("colors.wolf-gray-dark.800");
                        border-radius   : 8px;
                        padding         : 4px;
                        display         : block;
                        position        : relative;
                        z-index         : 20;
                        color           : theme("colors.wolf-gray-light.1500");
                        font-size       : 16px;
                    }


                    &:hover {
                        &::before {
                            background-color: theme("colors.wolf-blue-purple.500");
                            z-index         : -1;
                            // z-index: -1;

                            transform: rotate(30deg);
                        }

                        &::after {
                            background-color: theme("colors.wolf-blue-purple.400");
                            z-index         : -2;
                            transform       : rotate(15deg);
                        }


                    }
                }
            }




        }



    }
}