.boton-group-box {
    // background-color: red;
    padding         : 5px;


    .botom-group-body {
        display        : flex;
        flex-direction : column;
        justify-content: center;
        align-items    : center;
        background-color: theme("colors.wolf-gray-dark.400");
        min-height: 120px;
        border-radius: 8px;
        border: 1.5px solid theme("colors.wolf-gray-dark.1000");

        h4{
            font-size: 14px;
        }
        span{
            font-size: 12px;
        }

        svg{
            margin-top: 8px;
            fill: theme("colors.wolf-gray.1000");
            transition: fill .5s;
        }

        
            &.boton-box-active{
                // background-color: red;
                background-color: theme("colors.wolf-gray-dark.800");
                border: 1.5px solid theme("colors.wolf-blue.600");

                svg{
                    fill: theme("colors.wolf-blue.500");
                }

            }
    }
}