.bids-card-list {

    // background-color: red;
    width       : 100%;
    // max-width: 400px;
    display     : flex;
    flex-wrap   : wrap;

    .bid-card {
        padding            : 15px;
        width              : 100%;
        max-width          : 280px;
        min-height         : 120px;
        background-color   : theme("colors.wolf-gray-dark.400");
        border-radius      : 16px;
        border             : 1px solid theme("colors.wolf-gray-dark.800");
        margin             : 8px;
        // display         : flex;

        .bid-card-multimendia {
            width           : 100px;
            height          : 150px;
            background-color: theme("colors.wolf-gray-dark.600");
            border-radius   : 8px;


            img {
                width           : 100%;
                // width        : 100px;
                height          : 100%;
                object-fit      : cover;
                border-radius   : 8px;
            }
        }

        .bid-card-content {
            margin-left: 10px;

            // background-color: red;
            .title {
                font-size    : 14px;
                font-weight  : 600;
                max-width    : 150px;
                white-space  : nowrap;
                overflow     : hidden;
                text-overflow: ellipsis;
                color        : theme("colors.wolf-gray-light.1800");

                .key {
                    color       : theme("colors.wolf-gray-light.1000");
                    margin-right: 10px;
                }



            }

            .price-zone {
                // background-color: red;
                margin-top: 10px;

                span {
                    color      : theme("colors.wolf-gray-light.1000");
                    font-size  : 12px;
                    line-height: 12px;
                }

                h3 {
                    font-size  : 20px;
                    line-height: 20px;
                    font-weight: 700;
                }



            }
        }

        .bid-zone {
            // background-color: red;
            width              : 100%;
            height             : 60px;
            display            : flex;
            justify-content    : center;
            align-items        : center;
            // background-color: red;
            margin-top         : 10px;
        }
    }

}