.bids-card-list {

    // background-color: red;
    width    : 100%;
    max-width: 400px;

    .bid-card {
        padding         : 15px;
        width           : 100%;
        min-height      : 120px;
        background-color: theme("colors.wolf-gray-dark.400");
        border-radius   : 16px;
        border          : 1px solid theme("colors.wolf-gray-dark.800");
        display         : flex;

        .bid-card-multimendia {
            width           : 100px;
            height          : 150px;
            background-color: theme("colors.wolf-gray-dark.600");
            border-radius   : 8px;


            img {
                width        : 100%;
                height       : 100%;
                object-fit   : cover;
                border-radius: 8px;
            }
        }

        .bid-card-content {
            margin-left: 10px;

            // background-color: red;
            h3 {
                font-size  : 16px;
                font-weight: 600;
                max-width  : 180px;
                white-space: nowrap;
                overflow: hidden;
                
            }
        }
    }

}