.explorer-collections-container {
    display      : flex;
    flex-wrap    : wrap;
    margin-bottom: 100px;

    .collection-list-item {
        // background-color: red;
        flex-grow      : 1;
        max-width      : 640px;
        min-width      : 200px;
        display        : flex;
        justify-content: center;
        margin         : 8px;
    }

}