@tailwind base;
@tailwind components;
@tailwind utilities;

.cards-nft-explorer-container {
    background-color  : red;
    display           : flex;
    flex-wrap         : wrap;
    // justify-content: space-between;
}