.cards-nft-explorer-container {
    // background-color  : red;
    display  : flex;
    flex-grow: 1;
    flex-wrap: wrap;

    .card-nfts-item {
        flex-grow      : 1;
        max-width      : 240px;
        min-width      : 220px;
        display        : flex;
        justify-content: center;
        margin         : 8px;
    }

    // justify-content: space-between;
}