.drop-menu-container {
    // background-color: blue;
    position      : relative;
    display       : flex;
    flex-direction: column;


    .reset-button {
        // background-color: red;
        background-color: theme("colors.wolf-gray-dark.800");
        width           : 24px;
        height          : 24px;
        display         : flex;
        justify-content : center;
        align-items     : center;
        border-radius   : 50%;
        position        : absolute;
        color           : theme("colors.wolf-gray-light.2200");
        right           : -10px;
        top             : -10px;

    }

    .drop-menu-item-xd {
        position        : absolute;
        left            : 0;
        top             : 100%;
        min-width       : 100%;
        padding         : 15px;
        background-color: theme("colors.wolf-gray-dark.600");
        border-radius   : 8px;
        transform       : translateY(15px);
        border          : 1px solid theme("colors.wolf-gray-dark.1000");

        ul {
            li {
                padding            : 10px;
                transition         : background-color .5s;
                // background-color: red;
                border-radius      : 8px;

                &:hover {
                    cursor          : pointer;
                    background-color: theme("colors.wolf-gray-dark.300");
                }
            }
        }

        .wolft-form-control-label {
            // background-color: red;
            color: theme("colors.wolf-gray-light.1200");
        }


    }

    .drop-menu-button {
        // padding         : 20px 10px;
        min-width          : 150px;
        // background-color: theme("colors.wolf-gray-dark.300");
        border             : 1px solid theme("colors.wolf-gray-dark.1200");
        border-radius      : 8px;
        padding-right      : 20px;
        display            : flex;
        align-items        : center;
    }

    .range-option {
        // background-color: red;
        left: -50%;



    }


}