.bid-histories-display {
    // padding            : 15px;
    // background-color: red;
    width: 100%;

    .bid-list-item {
        background-color: theme("colors.wolf-gray-dark.400");
        width           : 100%;
        padding         : 15px;
        display         : flex;
        justify-content : space-between;
        margin          : 10px 0;
        border          : 1px solid theme("colors.wolf-gray-dark.800");
        border-radius   : 8px;

        .bidder-section {

            display    : flex;
            align-items: center;

            span {
                font-size  : 12px;
                font-weight: 600;
                color      : theme("colors.wolf-gray-light.1000");
            }

            h4 {
                font-size  : 14px;
                color      : theme("colors.wolf-gray-light.1800");
                font-weight: 600;
            }
        }

    }
}