.wolf-hero-v2 {
    // background-color: red;
    // background: ;
    background: rgb(79, 86, 224);
    background: linear-gradient(180deg, rgba(79, 86, 224, 1) 0%, rgba(8, 9, 10, 1) 100%);
    width     : 100vw;
    height    : 100vh;
}