.wolf-hero-v2 {
    // background-color: red;
    // background: ;
    background: rgb(79, 86, 224);
    background: linear-gradient(180deg, rgba(79, 86, 224, 1) 0%, rgba(8, 9, 10, 1) 100%);
    width     : 100vw;
    height    : 100vh;

    .swiper-section {
        // background-color: theme("colors.wolf-blue-purple.700");
        width        : 100%;
        height       : 100%;
        padding-top  : 80px;
        padding-left : 30px;
        padding-right: 30px;

        .hero-swiper-section-tab-menu {
            height  : 50px;
            position: relative;

            button {
                // background-color: blue;
                height : 100%;
                padding: 0 10px;


                h3 {
                    font-size  : 18px;
                    font-weight: 700;
                    color      : theme("colors.wolf-gray-light.1200");
                }

            }

            .hero-swiper-button-active {

                position: relative;

                h3 {
                    // background-color: red;
                    // color: red;
                    color: theme("colors.wolf-gray-light.2200");
                }

                &::after {
                    content         : "";
                    display         : block;
                    width           : 100%;
                    height          : 3px;
                    background-color: theme("colors.wolf-gray-light.2200");
                    position        : absolute;
                    bottom          : 0;
                    left            : 0;
                }

            }


            &::after {

                content         : "";
                display         : block;
                width           : 100%;
                height          : 1px;
                background-color: rgba(#171a1f, 0.2);
                position        : absolute;
                bottom          : 0;
                left            : 0;
            }
        }

        .wolf-v2-swiper-box {
            margin-top : 20px;
            position   : relative;
            height     : calc(100% - 120px);
            display    : flex;
            align-items: center;

            &:hover {
      

                .wolf-v2-swiper-button {
                    opacity: 1;
                }
            }

        }



    }

    .wolf-v2-swiper-button {
        width           : 40px;
        height          : 40px;
        background-color: theme("colors.wolf-gray-dark.1100");
        border-radius   : 50%;
        color           : theme("colors.wolf-gray-light.1200");
        display         : flex;
        align-items     : center;
        justify-content : center;
        position        : absolute;
        z-index         : 20;
        transition      : background-color .5s, opacity .5s;
        opacity         : 0;

    }

    .wolf-v2-swiper-button-left {
        left: -20px;
    }

    .wolf-v2-swiper-button-right {
        right: -20px;
    }

    .swipe-box {
        background-color: theme("colors.wolf-gray-dark.400");
        width           : 100%;
        height          : 100%;
        border-radius   : 16px;
        position        : relative;


        &:hover{
            .swiper-image{
                transform: scale(1.2);
            }
        }

        .swiper-image {
            width     : 100%;
            height    : 100%;
            object-fit: cover;
            transition: transform .5s;


        }

        .swiper-nft-info {
            width   : 100%;
            height  : 100%;
            position: absolute;
            left    : 0;
            top     : 0;
            // background-color: red;
            background-color: rgba(#08090a, 0.3);
        }

    }

    .hero-loading-section {



        .MuiSkeleton-root {
            // background-color: red;
            background-color: theme('colors.wolf-blue-purple.600');
            border-radius   : 16px;

            &::after {
                background        : rgb(79, 86, 224);
                background        : linear-gradient(90deg, rgba(79, 86, 224, 1) 0%, rgba(59, 67, 221, 1) 50%, rgba(79, 86, 224, 1) 100%);
                width             : 100%;
                animation-duration: 3s;
            }



        }

    }

}