.wolf-hero-v2 {
    // background-color: red;
    // background: ;
    background: rgb(79, 86, 224);
    background: linear-gradient(180deg, rgba(79, 86, 224, 1) 0%, rgba(8, 9, 10, 1) 100%);
    width     : 100vw;
    height    : 100vh;

    .swiper-section {
        // background-color: theme("colors.wolf-blue-purple.700");
        width        : 100%;
        height       : 100%;
        padding-top  : 80px;
        padding-left : 30px;
        padding-right: 30px;

        .hero-swiper-section-tab-menu {
            height  : 50px;
            position: relative;

            button {
                // background-color: blue;
                height : 100%;
                padding: 0 10px;


                h3 {
                    font-size  : 18px;
                    font-weight: 700;
                    color      : theme("colors.wolf-gray-light.1200");
                }

            }

            .hero-swiper-button-active {

                position: relative;

                h3 {
                    // background-color: red;
                    // color: red;
                    color: theme("colors.wolf-gray-light.2200");
                }

                &::after {
                    content         : "";
                    display         : block;
                    width           : 100%;
                    height          : 3px;
                    background-color: theme("colors.wolf-gray-light.2200");
                    position        : absolute;
                    bottom          : 0;
                    left            : 0;
                }

            }


            &::after {}
        }


    }


}