.nft-history-display-containes {

    // background-color: red;
    .history-card {
        margin          : 10px 0;
        padding         : 15px;
        // border-bottom: 1px solid theme("colors.wolf-gray-dark.800");
        background-color: theme("colors.wolf-gray-dark.300");
        border-radius   : 8px;
        border          : 1px solid theme("colors.wolf-gray-dark.500");
        display         : flex;
        flex-direction  : column;
        // align-items: flex-start;

        h3 {
            font-weight  : 600;
            color        : theme("colors.wolf-gray-light.1000");
            border-bottom: 1px solid theme("colors.wolf-gray-dark.800");
            box-sizing   : content-box;
            padding-bottom: 10px;
            font-size: 14px;

        }

    }

}