.collection-card {
    // background-color: red;

    width    : 100%;
    min-width: 320px;
    max-width: 400px;

    .collection-card-body {
        background-color: theme("colors.wolf-gray-dark.400");
        padding         : 15px;
        border-radius   : 20px;
        border          : 1px solid theme("colors.wolf-gray-dark.1200");
        height          : 320px;


        .avatar-zone {
            position: absolute;
            bottom  : -23px;
            left    : 15px;

            .avatar-item {
                width           : 46px;
                height          : 46px;
                border-radius   : 50% !important;
                padding         : 3px;
                background-color: theme("colors.wolf-gray-dark.400");

                img {
                    width        : 100%;
                    height       : 100%;
                    object-fit   : cover;
                    border-radius: 50% !important;
                }
            }

        }

        .multimedia-data {
            width              : 100%;
            height             : 220px;
            background-color   : theme("colors.wolf-gray-dark.300");
            border-radius      : 8px;
            display            : flex;
            // overflow        : hidden;

            .img-zone-1 {
                width           : 45%;
                height          : 100%;
                background-color: theme("colors.wolf-blue.100");
                flex-grow       : 1.4;
                border-radius   : 5px;

                img {
                    width        : 100%;
                    height       : 100%;
                    object-fit   : cover;
                    border-radius: 5px;
                }
            }

            .img-zone-2 {
                // width           : 100%;
                width         : 55%;
                height        : 100%;
                border-radius : 5px;
                flex-grow     : 2;
                display       : flex;
                flex-direction: column;

                .img-zone-21 {
                    // background-color: theme("colors.wolf-blue.200");
                    width        : 100%;
                    height       : 80px;
                    border-radius: 5px;
                    display      : flex;

                    .img-zone-211,
                    .img-zone-212 {
                        flex-grow: 1;

                        img {
                            width        : 100%;
                            height       : 100%;
                            object-fit   : cover;
                            border-radius: 5px;
                        }
                    }

                }

                .img-zone-22 {
                    background-color: theme("colors.wolf-blue.300");
                    width           : 100%;
                    border-radius   : 5px;
                    height          : 132px;

                    img {
                        width        : 100%;
                        height       : 100%;
                        object-fit   : cover;
                        border-radius: 5px;
                    }

                }

            }

        }

        .info-data {

            .colection-tite {
                // background-color: red;
                padding-left: 64px;
                font-size   : 14px;
                font-weight : 700;
                margin-top  : 2px;
            }

            .collection-atribute {
                display            : flex;
                flex-direction     : column;
                // background-color: red;
                justify-content    : center;
                align-items        : center;

                .key {
                    // background-color: red;
                    font-size  : 14px;
                    line-height: 14px;
                    color      : theme("colors.wolf-gray-light.1000");
                    font-weight: 600;
                }

                .value {
                    font-size  : 14px;
                    line-height: 16px;
                    margin-top : 3px;
                    color      : theme("colors.wolf-gray-light.1800");
                }

            }

            .colection-basic-spech {
                margin-top     : 10px;
                display        : flex;
                width          : 100%;
                justify-content: space-between;

            }
        }
    }



}