.laoding-card,
.nft-card-v2 {
    // background-color: red;
    width           : 100%;
    max-width       : 300px;
    background-color: theme("colors.wolf-gray-dark.400");
    padding         : 6px;
    height          : 280px;
    border-radius   : 16px;
    border          : 1px solid theme("colors.wolf-gray-dark.600");
    margin          : 25px 0;



}

.laoding-card {

    .img-skeletor {

        width                    : 100%;
        // height             : 190px;
        // height                : 100%;
        height                   : 230px;
        // background-color: red;
        background-color         : theme("colors.wolf-gray-dark.300");
        border-radius            : 16px;
        position                 : relative;
    }


    .MuiSkeleton-root {
        // background-color: red;
        // background-color   : theme('colors.wolf-gray-dark.300');
        background-color      : #13161a;
        // border-radius   : 16px;
        // position           : absolute;
        // bottom             : -20px;
        // left               : 20px;

        &::after {
            // background        : rgb(19, 22, 26) !important;
            background        : linear-gradient(90deg, rgba(#13161a, 1) 0%, #171a1f 50%, rgba(#13161a, 0.5) 100%) !important;
            width             : 100%;
            animation-duration: 3s;
        }




    }


}




.nft-card-v2 {
    // background-color: red;
    // height: ;
    position        : relative;
    z-index         : 20;
    display         : flex;
    justify-content : center;
    padding         : 0;
    background-color: transparent;
    border          : none;
    overflow        : visible;


    &::before,
    &::after {

        content               : "";
        display               : block;
        width                 : 100%;
        height                : 100%;
        // background-color: red;
        position              : absolute;
        top                   : 0;
        // left               : 0;
        border-radius         : 16px;
        transition            : transform .5s;


    }

    &::before {
        width           : 90%;
        background-color: theme("colors.wolf-blue-purple.500");
        z-index         : -10;

    }

    &::after {
        width           : 80%;
        background-color: theme("colors.wolf-blue-purple.600");
        z-index         : -15;

    }

    &:hover {
        &::before {
            transform: translateY(10px);
        }

        &::after {
            transform: translateY(20px);
        }
    }



    .nft-card-v2-body {

        display                 : grid;
        grid-template-columns   : 1fr;
        grid-template-rows      : 230px 1fr;
        grid-template-areas     : "multimedia""content";
        position                : relative;
        width                   : 100%;
        padding                 : 6px;
        background-color        : theme("colors.wolf-gray-dark.400");
        border-radius           : 16px;
        border                  : 1px solid theme("colors.wolf-gray-dark.700");
        // padding              : 0;

        .multimedia-zone {
            background-color: theme("colors.wolf-gray-dark.300");
            border-radius   : 10px;
            grid-area       : multimedia;
            position        : relative;

            img {
                width        : 100%;
                height       : 100%;
                object-fit   : cover;
                border-radius: 10px;
            }

            .nft-info {
                position           : absolute;
                left               : 0;
                right              : 0;
                border-radius      : 10px;
                // background-color: theme("colors.wolf-gray-dark.400");
                background-color   : rgba(#0f1115, 0.15);
                width              : 100%;
                height             : 100%;
                z-index            : 10;

                .nft-info-box {
                    position: absolute;
                    bottom  : 0;
                    padding : 0 15px;

                }
            }

        }

        .content-zone {

            grid-area          : "content";
            width              : 100%;
            // background-color: red;
        }



    }




}