.laoding-card,
.nft-card-v2 {
    // background-color: red;
    width           : 100%;
    max-width       : 300px;
    background-color: theme("colors.wolf-gray-dark.400");
    padding         : 6px;
    height          : 280px;
    border-radius   : 16px;
    border          : 1px solid theme("colors.wolf-gray-dark.600");



}

.laoding-card {

    .img-skeletor {

        width                    : 100%;
        // height             : 190px;
        // height                : 100%;
        height                   : 230px;
        // background-color: red;
        background-color         : theme("colors.wolf-gray-dark.300");
        border-radius            : 16px;
        position                 : relative;
    }


    .MuiSkeleton-root {
        // background-color: red;
        // background-color   : theme('colors.wolf-gray-dark.300');
        background-color      : #13161a;
        // border-radius   : 16px;
        // position           : absolute;
        // bottom             : -20px;
        // left               : 20px;

        &::after {
            // background        : rgb(19, 22, 26) !important;
            background        : linear-gradient(90deg, rgba(#13161a, 1) 0%, #171a1f 50%, rgba(#13161a, 0.5) 100%) !important;
            width             : 100%;
            animation-duration: 3s;
        }




    }


}




.nft-card-v2 {
    // background-color: red;
    // height: ;
    display              : grid;
    grid-template-columns: 1fr;
    grid-template-rows   : 220px 1fr;
    grid-template-areas  : "multimedia""content";

    .multimedia-zone {
        background-color: theme("colors.wolf-gray-dark.300");
        border-radius   : 10px;
    }




}