.nft-card-container {
    // background-color: theme("colors.wolf-gray-dark.400");
    width        : 100%;
    max-width    : 210px;
    min-width    : 210px;
    height       : 300px;
    border-radius: 16px;
    position     : relative;

    &::before,
    &::after {
        content            : '';
        width              : 100%;
        height             : 100%;
        display            : block;
        position           : absolute;
        background-color   : theme("colors.wolf-gray-dark.400");
        border-radius      : 16px;
        // z-index         : -1;
        top                : 0;
        left               : 0;
        transition         : background-color .5s, transform .5s;
    }

    &::before {
        z-index: -1;
    }

    &::after {
        z-index: -2;
    }


    .card-body {
        width           : 100%;
        height          : 100%;
        background-color: theme("colors.wolf-gray-dark.400");
        border-radius   : 16px;
        transition      : background-color .5s;
        border          : 1px solid theme("colors.wolf-gray-dark.900");
        padding         : 6px;

        .multimedia-secction {
            width                 : 100%;
            height                : 220px;
            background-color      : theme("colors.wolf-gray-dark.300");
            border-radius         : 16px;
            position              : relative;
            display               : flex;
            // align-items        : center;
            // padding         : 6px;

            .collection-info {

                position               : absolute;
                white-space            : nowrap;
                max-width              : 100%;
                overflow               : hidden;
                text-overflow          : ellipsis;
                padding-right          : 70px;
                bottom                 : 0;
                background             : #13161a40;
                backdrop-filter        : blur(4px);
                -webkit-backdrop-filter: blur(4px);
                border-radius          : 10px;
                opacity                : 0;
                transition             : opacity .5s;

                span {
                    // background-color   : blue;
                    // display         : block;
                    padding               : 5px;
                    padding-right         : 50px;
                    // height: 50px
                    // display            : inline-block;
                    text-overflow         : ellipsis;
                    padding-right         : 70px;
                    font-size             : 12px;
                    font-weight           : 600;
                    color                 : theme("colors.wolf-gray-light.2200");



                }


            }

            img {
                width        : 100%;
                height       : 100%;
                border-radius: 10px 10px 10px 10px;
                object-fit   : cover;
            }

            .seller-info {
                width     : 100%;
                min-height: 50px;
                padding   : 0 10px;
                position  : absolute;
                top       : 10px;
                opacity   : 0;




                .seller-info-body {
                    width                 : 100%;
                    // height         : 100%;
                    // background         : rgba(#13161a, 0.6);
                    // backdrop-filter    : blur(5px);
                    background-color      : theme("colors.wolf-gray-dark.800");
                    padding               : 5px;
                    border-radius         : 6px;
                    display               : flex;
                    align-items           : center;
                    // border: 1px solid  rgba(149, 158, 175, 1);

                    .avatar-section {
                        width : 36px;
                        height: 36px;

                        img {
                            border-radius: 50%;
                        }

                    }

                    .seller-info-card {
                        // background-color: red;
                        // background-color: red;
                        flex-grow      : 1;
                        margin-left    : 10px;
                        display        : flex;
                        flex-direction : column;
                        justify-content: center;
                        padding-right  : 10px;

                        span {
                            color      : theme("colors.wolf-gray-light.1000");
                            font-size  : 12px;
                            line-height: 12px;
                        }

                        h3 {
                            color        : theme("colors.wolf-gray-light.1500");
                            font-size    : 14px;
                            line-height  : 14px;
                            font-weight  : 600;
                            // margin-top: 2px;
                        }

                    }

                }
            }

            .avatar-section-container {
                position   : absolute;
                bottom     : -25px;
                right      : 15px;
                display    : flex;
                align-items: center;

                .avatar-section-item {
                    padding: 4px;
                    width  : 50px;
                    height : 50px;

                    background-color: theme("colors.wolf-gray-dark.400");
                    border-radius   : 50%;

                    img {
                        border-radius: 50%;
                    }


                }

                .collection-nft-title {
                    flex-grow          : 1;
                    // background-color: red;
                    overflow           : hidden;

                    span,
                    h3 {
                        white-space  : nowrap;
                        width        : 100%;
                        max-width    : 130px;
                        overflow     : hidden;
                        text-overflow: ellipsis;

                    }

                    span {
                        font-size: 12px;
                    }

                    h3 {
                        font-size: 14px;
                    }
                }

            }


        }

        .sale-info-section {
            // background-color: red;
            // height          : 100%;

            .nft-title-section-xd {

                span,
                h3 {
                    white-space  : nowrap;
                    max-width    : 100%;
                    overflow     : hidden;
                    text-overflow: ellipsis;
                }

                // span {
                //     font-size             : 11px;
                //     font-weight           : 600;
                //     color                 : theme("colors.wolf-gray-light.1100");
                //     line-height           : 14px;
                //     display               : block;
                //     padding-right         : 70px;
                //     margin-top            : 5px;

                // }

                h3 {
                    font-size    : 14px;
                    line-height  : 16px;
                    margin-top   : 10px;
                    padding-right: 50px;
                    font-weight  : 700;
                    color        : theme("colors.wolf-gray-light.1600");
                }
            }
        }
    }

    &:hover {


        z-index: 10;
        cursor : pointer;

        .card-body {

            background-color: theme("colors.wolf-gray-dark.600");


            .avatar-section-item {
                background-color: theme("colors.wolf-gray-dark.600");
            }

        }


        &::before {
            background-color: theme("colors.wolf-blue-purple.400");
            z-index         : -1;
            transform       : rotate(8deg);
        }

        &::after {
            background-color: theme("colors.wolf-blue-purple.300");
            z-index         : -2;
            transform       : rotate(16deg);
        }
    }


}