.nft-card-container {
    // background-color: theme("colors.wolf-gray-dark.400");
    width        : 100%;
    max-width    : 250px;
    min-width    : 210px;
    height       : 300px;
    border-radius: 16px;
    position     : relative;

    .price-info {
        // background-color: red;
        color      : theme("colors.wolf-gray-light.100");
        font-size  : 12px;
        line-height: 12px;
        font-weight: 600;
    }

    .seller-title {
        // background-color: red;
        font-size: 14px;
    }

    &::before,
    &::after {
        content            : '';
        width              : 100%;
        height             : 100%;
        display            : block;
        position           : absolute;
        background-color   : theme("colors.wolf-gray-dark.400");
        border-radius      : 16px;
        // z-index         : -1;
        top                : 0;
        left               : 0;
        transition         : background-color .5s, transform .5s;
    }

    &::before {
        z-index: -1;
    }

    &::after {
        z-index: -2;
    }


    .card-body {
        width           : 100%;
        height          : 100%;
        background-color: theme("colors.wolf-gray-dark.400");
        border-radius   : 16px;
        transition      : background-color .5s;
        border          : 1px solid theme("colors.wolf-gray-dark.900");
        padding         : 6px;
        overflow        : hidden;

        .multimedia-secction {
            width                 : 100%;
            max-width             : 250px;
            height                : 220px;
            background-color      : theme("colors.wolf-gray-dark.300");
            border-radius         : 16px;
            position              : relative;
            display               : flex;
            // align-items        : center;
            // padding         : 6px;


            img {
                width        : 100%;
                flex-grow    : 1;
                height       : 100%;
                border-radius: 10px 10px 10px 10px;
                object-fit   : cover;
            }


            .auction-hourglass {
                // background-color: red;
                position: absolute;
                bottom  : 0;
                left    : 0;
                padding : 5px;
                width   : 100%;


                span {
                    font-size  : 12px;
                    color      : theme("colors.wolf-gray-light.1200");
                    line-height: 12px;
                }

                h3 {
                    font-size  : 14px;
                    font-weight: 600;
                    line-height: 14px;
                }
            }


            .avatar-section-container {
                position   : absolute;
                bottom     : -25px;
                right      : 15px;
                display    : flex;
                align-items: center;

                .avatar-section-item {
                    padding: 4px;
                    width  : 50px;
                    height : 50px;

                    background-color: theme("colors.wolf-gray-dark.400");
                    border-radius   : 50%;

                    img {
                        border-radius: 50%;
                    }


                }

                .collection-nft-title {
                    flex-grow: 1;
                    overflow : hidden;


                    h3 {
                        white-space  : nowrap;
                        width        : 100%;
                        max-width    : 130px;
                        overflow     : hidden;
                        text-overflow: ellipsis;

                    }


                    h3 {
                        font-size: 14px;
                    }
                }

            }

            .seller-info-section {
                // background-color: red;
                position  : absolute;
                top       : 15px;
                width     : 100%;
                padding   : 0 15px;
                opacity   : 0;
                transition: opacity .5s;

                .seller-info-body {
                    display        : flex;
                    justify-content: space-between;
                    width          : 100%;
                }

                .seller-name {
                    background-color      : theme("colors.wolf-gray-dark.400");
                    flex-grow             : 1;
                    margin-right          : 5px;
                    padding               : 0 10px;
                    display               : flex;
                    flex-direction        : column;
                    align-items           : flex-start;
                    justify-content       : center;
                    border-radius         : 8px;
                    // max-width       : red;
                    max-width             : calc(100% - 50px);
                    // background-color   : blue;


                    span {
                        color      : theme("colors.wolf-gray-light.100");
                        font-size  : 12px;
                        line-height: 12px;
                        display    : block;
                        font-weight: 600;

                    }

                    h3 {
                        max-width    : 100%;
                        white-space  : nowrap;
                        overflow     : hidden;
                        text-overflow: ellipsis;
                        font-size    : 13px;
                        font-weight  : 600;
                        color        : theme("colors.wolf-gray-light.1500");
                    }



                }

                .seller-avatar {
                    width           : 42px;
                    height          : 42px;
                    padding         : 3px;
                    background-color: theme("colors.wolf-gray-dark.400");
                    border-radius   : 50%;

                    img {
                        border-radius: 50%;
                    }

                }
            }




        }

        .footer-section {
            // background-color: rebeccapurple;
            position     : absolute;
            bottom       : 0;
            width        : 100%;
            left         : 0;
            bottom       : 0;
            overflow     : hidden;
            height       : 70px;
            border-radius: 0 0 16px 16px;
            // height: ;

            .sale-info-section {

                height                : 70px;
                flex-direction        : column;
                justify-content       : space-between;
                width                 : 100%;
                display               : flex;
                // position           : absolute;
                // background-color: red;

                padding       : 0 10px;
                padding-bottom: 10px;

                .nft-title-section-xd {
                    max-width: 100%;

                    h3 {
                        white-space  : nowrap;
                        max-width    : calc(100% - 70px);
                        overflow     : hidden;
                        text-overflow: ellipsis;
                        font-size    : 14px;
                        font-weight  : 700;
                        color        : theme("colors.wolf-gray-light.1700");
                    }

                }

                .price-zone {
                    h2 {
                        font-size  : 16px;
                        line-height: 16px;
                        font-weight: 700;
                        color      : theme("colors.wolf-blue-purple.600");
                    }
                }
            }

            .checkout-secction {
                // background-color   : red;
                background-color   : theme("colors.wolf-gray-dark.400");
                // bottom          : -25px;
                bottom             : -50px;
                position           : absolute;
                left               : 0;
                right              : 0;
                height             : 50px;
                display            : flex;
                align-items        : center;
                padding            : 0 10px;
                transition         : background-color .5s, transform .5s;

                .wolf-buttom {
                    padding: 5px 10px;
                    color  : theme("colors.wolf-gray-light.2200");
                    height : 30px;


                    &:first-child {
                        flex-grow: 1;
                    }
                }

            }

        }


    }

    &:hover {


        z-index: 10;
        cursor : pointer;

        .card-body {

            background-color: theme("colors.wolf-gray-dark.600");


            .avatar-section-item {
                background-color: theme("colors.wolf-gray-dark.600");
            }

            .seller-info-section {
                opacity: 1;
            }

            .checkout-secction {
                // background-color: red;
                background-color: theme("colors.wolf-gray-dark.600");
            }

            .checkout-secction {
                transform: translateY(-50px);
            }

        }


        &::before {
            background-color: theme("colors.wolf-blue-purple.400");
            z-index         : -1;
            transform       : rotate(8deg);
        }

        &::after {
            background-color: theme("colors.wolf-blue-purple.300");
            z-index         : -2;
            transform       : rotate(16deg);
        }
    }


}