.laoding-card,
.nft-card-v2 {
    // background-color: red;
    width           : 100%;
    max-width       : 300px;
    background-color: theme("colors.wolf-gray-dark.300");
    padding         : 10px;
    height          : 280px;
    border-radius   : 16px;
    border: 1px solid theme("colors.wolf-gray-dark.700")

}


.nft-card-v2 {
    background-color: red;
    // height: ;
}