@tailwind base;
@tailwind components;
@tailwind utilities;

.wolf-nfts-card {
    width          : 100%;
    max-width      : 300px;
    // max-width   : 200px;
    min-width      : 180px;
    position       : relative;
    height         : 290px;
    display        : flex;

    &:hover {
        z-index: 10;
        cursor : pointer;


        .nft-card-body {
            background-color: theme("colors.wolf-gray-dark.600");

            .avatar-img {
                .bg-gradient {
                    opacity: 1 !important;
                }
            }

            &::before {

                transform: rotate(-5deg);
            }

            &::after {
                transform: rotate(-10deg);
            }

            .wolf-btn-area {
                transform: translateY(-40px);

            }





        }
    }

    .nft-card-body {
        // background-color: theme("colors.wolf-gray-dark.500");
        background-color: theme("colors.wolf-gray-dark.400");
        border          : 1px solid theme("colors.wolf-gray-dark.1200");
        width           : 100%;
        height          : 100%;
        border-radius   : 16px;
        position        : relative;
        transition      : background-color .5s;



        &::before,
        &::after {
            content   : '';
            width     : 100%;
            height    : 100%;
            display   : block;
            position  : absolute;
            transition: transform .5s;
            top       : 0;
            left      : 0;

        }

        &::before {
            background-color   : theme("colors.wolf-gray-accent.400");
            z-index            : -5;
            border-radius      : 16px;
            // transform       : rotate(-5deg);
        }

        &::after {
            background-color   : theme("colors.wolf-gray-accent.500");
            border-radius      : 16px;
            z-index            : -6;
            // transform       : rotate(-10deg);
        }

        .multimedia-zone {
            width           : 100%;
            border-radius   : 16px 16px 0 0;
            height          : 220px;
            background-color: theme("colors.wolf-gray-dark.400");
            position        : relative;

            .wolf-main-multimedia-data {
                border-radius: 16px 16px 0 0;
            }

            .face-avatar-zone {
                position: absolute;
                right   : 15px;
                bottom  : -25px;
                z-index : 10;


            }

            .avatar-img {

                width           : 50px;
                height          : 50px;
                background-color: theme("colors.wolf-gray-dark.400");
                padding         : 2.5px;
                border-radius   : 50%;
                position        : relative;
                display         : flex;
                justify-content : center;
                align-items     : center;

                &.glass {
                    // background-color: red;
                    background     : rgba(255, 255, 255, 0.25);
                    backdrop-filter: blur(5px);
                }

                .bg-gradient {
                    width        : 100%;
                    height       : 100%;
                    position     : absolute;
                    background   : rgb(162, 4, 191);
                    background   : linear-gradient(90deg, rgba(162, 4, 191, 1) 0%, rgba(4, 85, 191, 1) 100%);
                    z-index      : 2;
                    border-radius: 50%;
                    opacity      : 0;
                    transition   : opacity .5s;
                }


                img {
                    // width : 46px;
                    // height: 46px;
                    width        : 100%;
                    height       : 100%;
                    object-fit   : cover;
                    border-radius: 50%;
                    position     : relative;
                    z-index      : 10;
                }

            }

            .collection-titel-zone {
                position  : absolute;
                bottom    : 0;
                background: rgb(172, 179, 193);
                background: linear-gradient(180deg, rgba(#13161a, .0) 0%, rgba(#13161a, 1) 100%);
                width     : 100%;
                height    : 25PX;
                padding   : 0 15PX;

                span,
                a {
                    font-family: "open-sans";
                    font-size  : 12px;
                    color      : theme("colors.wolf-gray-light.1500");
                    font-weight: 500;
                    transition : color .5s;

                    &:hover {
                        color: theme("colors.wolf-gray.1000")
                    }
                }



            }




            img {
                width     : 100%;
                height    : 100%;
                object-fit: cover;
            }

        }

        .info-area {
            width        : 100%;
            height       : 70px;
            position     : absolute;
            bottom       : 0;
            border-radius: 0 0 16px 16px;
            padding      : 0 15px;
            overflow     : hidden;

            .nft-title {
                font-size       : 14px;
                font-weight     : 600;
                color           : theme("colors.wolf-gray.875");
                white-space     : nowrap;
                width           : calc(100% - 60px);
                overflow        : hidden;
                text-overflow   : ellipsis;
                // margin-top   : 5px;
            }

            .price-area {
                position        : absolute;
                bottom          : 0;
                margin-bottom   : 12px;
                // width        : 100%;

                .tag-label {
                    font-size  : 11px;
                    color      : theme("colors.wolf-gray-light.1000");
                    margin     : 0;
                    padding    : 0;
                    line-height: 14px;
                    display    : block;
                }

                .price {
                    font-size  : 14px;
                    font-weight: 600;
                    line-height: 14px;

                }

                .cuantity {
                    color      : theme("colors.wolf-gray-light.1000");
                    font-weight: 500;
                }

            }

            .wolf-btn-area {
                background-color: theme("colors.wolf-gray-accent.600");
                width           : 100%;
                height          : 40px;
                position        : absolute;
                bottom          : -40px;
                left            : 0;
                right           : 0;
                display         : flex;
                transition      : transform .5s;

                button span {
                    // background-color: red;
                    color    : #fff;
                    font-size: 14px;
                }

                button {
                    display           : flex;
                    justify-content   : center;
                    align-items       : center;
                    // width          : 100%;
                    position          : relative;
                    transition        : background-color .5s;

                    &:hover {
                        outline         : none;
                        background-color: theme("colors.wolf-gray-accent.400");
                    }

                }

                .go-checkout {
                    flex-grow: 2.5;
                }

                .add-cart {
                    flex-grow: 1.5;
                }

            }
        }


    }


}