@tailwind base;
@tailwind components;
@tailwind utilities;

.wolf-nfts-card {
    width              : 100%;
    max-width          : 250px;
    // background-color: red;
    position           : relative;
    height             : 290px;

    &:hover {
        z-index: 10;
    }

    .nft-card-body {
        // background-color: theme("colors.wolf-gray-dark.500");
        background-color: theme("colors.wolf-gray-dark.500");
        border          : 1px solid theme("colors.wolf-gray-dark.1200");
        width           : 100%;
        height          : 100%;
        border-radius   : 16px;
        position        : relative;

        &::before,
        &::after {
            content : '';
            width   : 100%;
            height  : 100%;
            display : block;
            position: absolute;

        }

        &::before {
            background-color: theme("colors.wolf-pulple.400");
            z-index         : -5;
            border-radius   : 16px;
            transform       : rotate(-5deg);
        }

        &::after {
            background-color: theme("colors.wolf-blue.600");
            border-radius   : 16px;
            z-index         : -6;
            transform       : rotate(-10deg);
        }



    }


}