@tailwind base;
@tailwind components;
@tailwind utilities;

.wolf-nfts-card {
    width              : 100%;
    max-width          : 220px;
    // background-color: red;
    position           : relative;
    height             : 290px;

    &:hover {
        z-index: 10;
        cursor : pointer;

        .nft-card-body {
            background-color: theme("colors.wolf-gray-dark.600");


            &::before {

                transform: rotate(-5deg);
            }

            &::after {
                transform: rotate(-10deg);
            }

        }
    }

    .nft-card-body {
        // background-color: theme("colors.wolf-gray-dark.500");
        background-color: theme("colors.wolf-gray-dark.400");
        border          : 1px solid theme("colors.wolf-gray-dark.1200");
        width           : 100%;
        height          : 100%;
        border-radius   : 16px;
        position        : relative;
        transition      : background-color .5s;



        &::before,
        &::after {
            content   : '';
            width     : 100%;
            height    : 100%;
            display   : block;
            position  : absolute;
            transition: transform .5s;
            top       : 0;
            left      : 0;

        }

        &::before {
            background-color   : theme("colors.wolf-pulple.400");
            z-index            : -5;
            border-radius      : 16px;
            // transform       : rotate(-5deg);
        }

        &::after {
            background-color   : theme("colors.wolf-blue.600");
            border-radius      : 16px;
            z-index            : -6;
            // transform       : rotate(-10deg);
        }

        .multimedia-zone {
            width           : 100%;
            max-width       : 220px;
            overflow        : hidden;
            border-radius   : 16px 16px 0 0;
            height          : 220px;
            background-color: theme("colors.wolf-gray-dark.300");
            position        : relative;
            // background-color;

            .collection-titel-zone {
                position  : absolute;
                bottom    : 0;
                background: rgb(172, 179, 193);
                background: linear-gradient(180deg, rgba(#13161a, .2) 0%, rgba(#13161a, 1) 100%);
                width     : 100%;

                span, a {
                    font-family: "open-sans";
                    font-size  : 12px;
                    color: theme("colors.wolf-gray-light.1200");
                }



            }


            img {
                width     : 100%;
                height    : 100%;
                object-fit: cover;
            }

        }


    }


}