.nft-card-container {

    .wallet-card {

        .multimedia-secction {
            // background-color: purple;
            height         : 285px;
            justify-content: center;

            .wallet-colection-info {
                width   : 100%;
                height  : 70px;
                position: absolute;
                bottom  : 10px;
                left    : 0;
                padding : 0 10px;
                z-index : 40;

                .tooltip-box {
                    background-color: red !important;
                }

                .wallet-avatar-section {
                    width           : 50px;
                    height          : 50px;
                    border-radius   : 50%;
                    background-color: theme("colors.wolf-gray-dark.400");
                    position        : absolute;
                    right           : 15px;
                    top             : -25px;
                    padding         : 4px;



                    .colleciotn-b {
                        background-color: red;
                        width           : 100%;
                        height          : 100%;
                        border-radius   : 50%;
                    }

                }


                .waller-nft-info {
                    background-color: theme("colors.wolf-gray-dark.400");



                    // margin          : 0 10px;
                    width        : 100%;
                    height       : 100%;
                    border-radius: 0px 0px 5px 5px;
                    position     : relative;
                    padding      : 0 10px;

                    span {
                        color      : theme("colors.wolf-gray-light.1200");
                        font-size  : 12px;
                        line-height: 12px;
                    }

                    h3 {
                        font-size  : 14px;
                        line-height: 14px;
                        font-weight: 600;
                        color      : theme("colors.wolf-gray-light.1500");
                    }

                    .token-id {
                        background-color: theme("colors.wolf-blue-purple.500");
                        position        : absolute;
                        right           : 5px;
                        bottom          : 5px;
                        min-width       : 20px;
                        min-height      : 20px;
                        display         : flex;
                        justify-content : center;
                        align-items     : center;
                        border-radius   : 10px;

                        span {
                            font-size  : 14px;
                            font-weight: 600;
                            padding    : 4px;
                            display    : block;
                            color      : theme("colors.wolf-gray-light.2000");

                        }


                    }

                }

            }

            .button-zone {
                position        : absolute;
                background-color: rgba($color: #171a1f, $alpha: 0.5);
                backdrop-filter : blur(10px);
                width           : 100%;
                height          : 100%;
                top             : 0;
                left            : 0;
                display         : flex;
                justify-content : center;
                align-items     : center;
                border-radius   : 10px;
                display         : flex;
                justify-content : center;
                flex-direction  : column;
                align-items     : center;
                padding         : 0 15px;
                opacity         : 0;
                transition      : opacity .5s;

            }
        }

        &:hover {

            .button-zone {
                opacity: 1;
            }

        }

    }

}