.wolf-mint-modal-header {

    position  : relative;
    max-height: 500px;
    min-height: 10px;

    .preview-box-container {

        width : 100%;
        height: 100%;

        img,
        video {
            width        : 100%;
            height       : 100%;
            object-fit   : cover;
            border-radius: 8px;
        }
    }

    .multimedia-content {
        width           : 100%;
        height          : 100%;
        position        : absolute;
        top             : 0;
        left            : 0;
        background-color: rgba($color: #171a1f, $alpha: .6);
    }

    .multimedia-content {
        display        : flex;
        flex-direction : column;
        justify-content: center;
        align-items    : center;

        h3 {
            font-size  : 24px;
            font-weight: 600;
            color      : theme("colors.wolf-gray-light.2200");
        }

        span {
            font-size          : 16px;
            // background-color: red;
            text-align         : center;
            color              : theme("colors.wolf-gray-light.2200");
            font-weight        : 600;
        }

    }



}

.wolf-mint-modal-procees {
    .preview-box-container {
        max-height: 200px;

        img {
            height       : 200px;
            width        : 100%;
            object-fit   : cover;
            border-radius: 8px;
        }

    }

    .ethereum-procces-step-1 {
        position: relative;


        .progres-bar-box {
            position           : absolute;
            width              : 100%;
            height             : 100%;
            // background-color: red;
            top                : 0;
            left               : 0;
            border-radius      : 8px;
            display            : flex;
            justify-content    : center;
            align-items        : center;
            flex-direction     : column;

            h3 {
                font-weight: 600;
                font-size  : 20px;
            }

            .progras-bar-content {
                position       : relative;
                display        : flex;
                justify-content: center;
                align-items    : center;

                svg {
                    position: absolute;
                    z-index : 10;
                }
            }
        }
    }

    .step-ethereum-proccess {
        padding: 15px 0;
    }
}