.mint-modal-content {

    // background-color: red;
    position  : relative;
    max-height: 90vh;
    overflow-y: auto;


    h3 {
        // color      : red;
        font-size  : 24px;
        font-weight: 600;
        color      : theme("colors.wolf-gray-light.2200");
        text-align : center;
    }


    &::-webkit-scrollbar {
        width              : 12px;
        padding            : 5px;
        // background-color: red;
        // margin-right: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        // box-shadow: inset 0 0 5px grey;
        border-radius      : 10px;
        padding            : 10px;
        // background-color: blue;

    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background   : theme("colors.wolf-gray-dark.1800");
        border-radius: 102px;
        transition   : background-color .5s;

        &:hover {
            background-color: theme("colors.wolf-blue-purple.500");
            cursor          : pointer;

        }

        // padding: 0 3px;

    }

    .step-box {

        // background-color: red;
        span {
            color     : theme("colors.wolf-gray-light.1500");
            font-size : 14px;
            text-align: justify;
            display   : block;
        }
    }

}