.loading-secction {
    // background-color: red;

    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;

    h3 {
        font-size  : 24px;
        font-weight: 600;
        color: theme("colors.wolf-gray-light.1500")
    }

    span {
        font-size: 16px;
        color    : theme("colors.wolf-gray-light.1000");
    }

    
    .MuiSkeleton-root {
        // background-color: red;
        background-color: theme('colors.wolf-blue-purple.600');

        &::after {
            background        : rgb(79, 86, 224);
            background        : linear-gradient(90deg, rgba(79, 86, 224, 1) 0%, rgba(59, 67, 221, 1) 50%, rgba(79, 86, 224, 1) 100%);
            width             : 100%;
            animation-duration: 3s;
        }



    }
}