.listing-modal-body {

    max-height: 100vh;
    overflow  : auto;


    .fail-fillter {
        position        : absolute;
        top             : 0;
        left            : 0;
        background-color: rgba(#4e5667, .5);
        backdrop-filter : blur(5px);
        width           : 100%;
        height          : 100%;
        border-radius   : 5px;
        display         : flex;
        justify-content : center;
        align-items     : center;
    }

    .listing-modal-header {

        background-color: theme("colors.wolf-gray-dark.600");
        border          : 1px solid theme("colors.wolf-gray-dark.800");
        padding         : 10px;
        border-radius   : 10px;


        h3 {
            font-size  : 20px;
            font-weight: 700;
            color      : theme("colors.wolf-gray-light.1200");
        }



        .multimedia-zone {
            width     : 100px;
            height    : 150px;
            margin-top: 10px;

            .blockChain-logo {
                position: absolute;
                z-index : 10;
                right   : -10px;
                top     : -10px;
            }

            .not-image {
                width              : 100%;
                height             : 100%;
                // background-color: ;
                background         : linear-gradient(180deg, rgba(59, 67, 221, 1) 0%, rgba(41, 49, 201, 1) 68%, rgba(33, 41, 191, 1) 100%);
                display            : flex;
                justify-content    : center;
                align-items        : center;
                border-radius      : 5px;
                flex-direction     : column;

                h4 {
                    font-size  : 14px;
                    font-weight: 600;
                    color      : theme("colors.wolf-gray-light.1800");
                    text-align : center;
                }
            }

            img {
                width        : 100%;
                height       : 100%;
                object-fit   : cover;
                border-radius: 5px;
            }

            .wondering {
                width : 60px;
                height: 60px;
            }

        }

        .info-section {
            padding           : 10px;
            // width  : 100%;
            height            : 100%;
            // display        : flex;
            // flex-direction : column;
            // align-items    : center;
            // justify-content: center;


            h4 {
                font-size: 16px;
                color    : theme("colors.wolf-gray-light.1500");
            }

            p {
                font-size: 12px;

                span {
                    color: theme("colors.wolf-gray-light.500");
                }
            }
        }

    }

    .listing-modal-content {

        // background-color: red;
        h4 {
            font-size  : 16px;
            text-align : center;
            color      : theme("colors.wolf-gray-light.1500");
            font-weight: 600;
        }

        span {
            display   : block;
            font-size : 14px;
            margin    : 10px 0;
            color     : theme("colors.wolf-gray-light.1300");
            text-align: center;
        }
    }

    .wolf-form {
        // background-color: red;

        span {
            text-align: left;
        }

        .boton-group-box {

            .botom-group-body {
                // background-color: red;
                min-height: 80px;

                h4 {
                    font-size  : 14px;
                    font-weight: 600;
                }

                svg {
                    width : 25px;
                    height: 25px;
                }

            }

        }
    }

    .step-listing-process {
        display        : flex;
        align-items    : center;
        margin         : 10px 0;
        justify-content: space-between;

        .progress {
            width              : 30px;
            height             : 30px;
            // background-color: red;
            position           : relative;
            display            : flex;
            justify-content    : center;
            align-items        : center;

            .circular-progress {
                position       : absolute;
                width          : 30px;
                height         : 30px;
                display        : flex;
                justify-content: center;
                align-items    : center;
                overflow       : hidden;

            }
        }
    }

    .fail-transation {
        color: theme("colors.wollf-red.400") !important;
    }

    .success-transation {
        color: theme("colors.wolf-blue.700") !important;
    }
}