.mobile-navbar {
    height  : 80px;
    position: fixed;
    top     : 0;
    z-index : 600;
    height  : 60px;
    width   : 100%;
    padding : 0 30px;

    .mobile-navbar-body {
        width          : 100%;
        height         : 100%;
        display        : flex;
        justify-content: space-between;
        align-items    : center;

        .logo-section {
            // background-color   : red;
            height             : 100%;
            position           : relative;
            // width           : 60px;
            display            : flex;
            align-items        : center;
            justify-content    : center;

            h1 {
                font-size             : 20px;
                font-weight           : 800;
                color                 : theme("colors.wolf-gray-light.2200");
                // background-color: red;
                // height             : 100%;
                position              : relative;
            }

            .logo-img {

                // position     : absolute;
                bottom       : -15px;
                left         : 0px;
                padding      : 2px;
                border-radius: 50%;
            }



        }
    }

    .habuguer-navabr-section {
        // background-color: red;
        width              : 100%;
        max-width          : 400px;
        padding            : 0 30px;
        margin-top         : 20px;
        animation-name     : fadeInOpacity;
        animation-duration : 1.2s;
        animation-fill-mode: forwards;

        .h-social-section {
            font-size: 20px;
            color    : theme("colors.wolf-gray-light.2000")
        }

        .h-title-secction {
            font-size  : 20px;
            font-weight: 600;
            color      : theme("colors.wolf-gray-light.2200");
            display    : block;
            position   : relative;

            &::after {
                content         : '';
                display         : block;
                width           : 100%;
                height          : 1px;
                background-color: theme("colors.wolf-gray-dark.1100");
            }

        }

        ul {
            li {
                margin: 5px 0;
            }

        }

        a {
            font-size  : 18px;
            font-weight: 500;
            color      : theme("colors.wolf-gray-light.1400");
            transition : color .2s;

            &:hover {
                color: theme("colors.wolf-gray-light.2200");
            }
        }
    }

    .menu-drop-sections {
        display: flex;

        .hambuger-drop-menu {
            margin  : 0 5px;
            position: relative;

            .hambuger-drop-menu-button {
                border-radius   : 50%;
                justify-content : center;
                align-items     : center;
                display         : flex;
                font-size       : 18px;
                width           : 40px;
                height          : 40px;
                font-size       : 18px;
                background-color: rgba($color: #a1a9b8, $alpha: 0.2);
                color           : #fff;


            }


            &.h-menu-active {


                .hambuger-bg-1,
                .hambuger-bg-2 {
                    width        : 40px;
                    height       : 40px;
                    position     : absolute;
                    left         : 0;
                    top          : 0;
                    border-radius: 50%;
                }

                .hambuger-bg-1 {
                    background-color   : theme("colors.wolf-gray-accent.200");
                    z-index            : -5;
                    // transform       : scale(15);
                    animation-name     : growcircle1;
                    animation-duration : 1s;
                    animation-fill-mode: forwards;
                }

                .hambuger-bg-2 {
                    background-color   : theme("colors.wolf-blue-purple.400");
                    z-index            : -10;
                    animation-name     : growcircle2;
                    animation-duration : 1s;
                    animation-fill-mode: forwards;

                }

                .hambuger-bg-3 {
                    width              : 100%;
                    height             : 100%;
                    position           : fixed;
                    top                : 0;
                    left               : 0;
                    // background-color: theme("colors.wolf-gray-accent.100");
                    z-index            : -20;
                    animation-name     : fadeIn;
                    animation-duration : 1s;
                    animation-fill-mode: forwards;
                    // clip-path: circle(0px);
                }



            }

            .hambuger-drop-menu-body {
                position           : fixed;
                z-index            : -1;
                width              : 100%;
                height             : 100%;
                // background-color: red;
                left               : 0;
                top                : 0;
                padding-top        : 60px;
                overflow           : auto;
                display            : flex;
                justify-content    : center;
            }

            &:last-child {
                margin-right: 0;
            }

            &:first-child {
                margin-left: 0;
            }


        }
    }
}

@keyframes growcircle1 {
    0% {
        background-color: transparent;
        transform       : scale(1);
    }

    100% {
        transform       : scale(15);
        background-color: theme("colors.wolf-gray-dark.600");
    }
}

@keyframes growcircle2 {
    0% {
        background-color: transparent;
        transform       : scale(1);
    }

    100% {
        background-color: theme("colors.wolf-blue-purple.400");
        transform       : scale(20);
    }
}

@keyframes fadeIn {
    0% {
        background-color: transparent;
        clip-path       : circle(0px);
    }

    100% {
        background-color: theme("colors.wolf-gray-dark.700");
    }
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}