.mobile-navbar-v2 {
    // background-color: red;
    position           : fixed;
    z-index            : 500;
    width              : 100%;
    height             : 60px;
    // background-color: red;
    padding            : 0 15px;
    display            : flex;
    justify-content    : space-between;
    align-items        : center;

    .hambuguer-drop-menu-secction {
        display : flex;
        position: relative;

        .wolf-habuguer-drop-menu {
            position: relative;
            margin  : 0 5px;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }

            // z-index: 10;

            .wolf-habuguer-drop-menu-buttom {
                // background-color: red;
                width           : 36px;
                height          : 36px;
                display         : flex;
                justify-content : center;
                align-items     : center;
                border-radius   : 8px;
                background-color: rgba($color: #495263, $alpha: 0.2);
                backdrop-filter : blur(5px);
                position        : relative;
                // color: red;
                font-size       : 20px;
                color           : theme("colors.wolf-gray-light.2200");

                &.h-button-active {
                    z-index         : 100;

                }





                transition: background-color .5s;

                &:hover {
                    background-color: theme("colors.wolf-gray-accent.600");
                }

                span {
                    color: theme("colors.wolf-gray.1000");
                }

            }

            .bg-cover {
                width              : 100%;
                height             : 100%;
                position           : fixed;
                // background-color: theme("colors.wolf-gray-dark.300");
                background-color   : rgba($color: #0f1115, $alpha: 0.5);
                backdrop-filter    : blur(20px);
                left               : 0;
                bottom             : 0;
                // z-index         : -10;
                z-index            : 5;
                clip-path          : circle(20000px at 50% 100%);
            }

            .wolf-habuguer-drop-menu-box {
                position           : fixed;
                z-index            : -10;
                width              : 100%;
                height             : 100%;
                max-width          : 400px;
                // max-height: 400px;
                top                : 0;
                left               : 0;
                // z-index : -5;
                z-index            : 5;
                // background-color: red;
                background-color   : theme("colors.wolf-gray-dark.300");

                padding: 80px 30px 30px;
            }


        }

    }

}