.mobile-navbar {
    height  : 80px;
    position: fixed;
    top     : 0;
    z-index : 600;
    height  : 60px;
    width   : 100%;
    padding : 0 30px;

    .wolfy-hambuger-acordeon-menu-container {
        width: 100%;

        // padding: 10px;
        &:first-child {
            .acordeon-menu-btn {
                border-top: 1px solid theme("colors.wolf-gray-dark.800");
            }
        }

        .acordeon-menu-btn {
            color              : theme("colors.wolf-gray-light.2200");
            display            : flex;
            justify-content    : space-between;
            align-items        : center;
            width              : 100%;
            // background-color: red;
            padding            : 15px;
            border-bottom      : 1px solid theme("colors.wolf-gray-dark.800");

            span {
                font-size  : 20px;
                font-weight: 600;
                color      : theme("colors.wolf-gray-light.2200");
            }

        }

        .acordeon-menu-box {
            width           : 100%;
            padding         : 15px 15px 15px 30px;
            background-color: theme("colors.wolf-gray-dark.400");

            a,
            button {
                display    : block;
                padding    : 15px;
                display    : flex;
                color      : theme("colors.wolf-gray-light.2200");
                font-size  : 16px;
                font-weight: 600;
                position   : relative;

            }

        }


    }

    .mobile-navbar-body {
        width          : 100%;
        height         : 100%;
        display        : flex;
        justify-content: space-between;
        align-items    : center;

        .logo-section {
            // background-color   : red;
            height             : 100%;
            position           : relative;
            // width           : 60px;
            display            : flex;
            align-items        : center;
            justify-content    : center;

            h1 {
                font-size  : 20px;
                font-weight: 700;
                color      : theme("colors.wolf-gray-light.2200");
                position   : relative;
            }

            .logo-img {

                // position     : absolute;
                // bottom       : -15px;
                left         : 0px;
                padding      : 2px;
                border-radius: 50%;
                margin-right : 10px;
            }



        }
    }

    .social-button {
        // background-color: red;
        padding  : 10px;
        font-size: 20px;
        color    : theme("colors.wolf-gray-light.2200");

        &:hover {
            color           : theme("colors.wolf-gray-light.700");
            background-color: rgba($color: #fafafa, $alpha: 0.1);
            border-radius   : 5px;
        }
    }

    .habuguer-navabr-section {

        width     : 100%;
        max-width : 400px;
        padding   : 0 30px;
        margin-top: 20px;


        .h-social-section {
            font-size: 20px;
            color    : theme("colors.wolf-gray-light.2000")
        }

        .h-title-secction {
            font-size  : 20px;
            font-weight: 600;
            color      : theme("colors.wolf-gray-light.2200");
            display    : block;
            position   : relative;

            &::after {
                content         : '';
                display         : block;
                width           : 100%;
                height          : 1px;
                background-color: theme("colors.wolf-gray-dark.1100");
            }

        }

        ul {
            li {
                margin: 5px 0;
            }

        }

        a {
            font-size  : 18px;
            font-weight: 500;
            color      : theme("colors.wolf-gray-light.1400");
            transition : color .2s;

            &:hover {
                color: theme("colors.wolf-gray-light.2200");
            }
        }
    }

    .menu-drop-sections {
        display: flex;

        .hambuger-drop-menu {
            margin  : 0 5px;
            position: relative;

            .hambuger-drop-menu-button {
                border-radius   : 8px;
                justify-content : center;
                align-items     : center;
                display         : flex;
                font-size       : 18px;
                width           : 36px;
                height          : 36px;
                font-size       : 24px;
                background-color: rgba($color: #a1a9b8, $alpha: 0.2);
                color           : #fff;

                svg {
                    // width : 20px;
                    // height: 20px;
                }


            }


            &.h-menu-active {


                .hambuger-bg-1,
                .hambuger-bg-2 {
                    width        : 40px;
                    height       : 40px;
                    position     : absolute;
                    left         : 0;
                    top          : 0;
                    border-radius: 50%;
                }



                .hambuger-bg-3 {
                    width                       : 100%;
                    height                      : 100%;
                    position                    : fixed;
                    top                         : 0;
                    left                        : 0;
                    z-index                     : -20;
                    background-color            : rgba($color: #0f1115, $alpha: 0.5);
                    backdrop-filter             : blur(20px);
                    animation-name              : circleGrowClipPath;
                    animation-duration          : 1s;
                    // animation-timing-function: f;


                }



            }

            .hambuger-login-secction {
                // height: 100%;
                // position           : relative;
                position              : absolute;
                bottom                : 0;
                // background-color   : red;
                width                 : 100%;
                padding               : 15px;
                // margin-top      : 100%;
            }


            .hambuger-drop-menu-body {
                position             : fixed;
                z-index              : -1;
                width                : 100%;
                max-width            : 450px;
                height               : 100%;
                left                 : 0;
                top                  : 0;
                padding-top          : 60px;
                overflow             : auto;
                // display           : flex;
                // justify-content   : center;
                background-color     : theme("colors.wolf-gray-dark.300");
                animation-name       : circleGrowClipPath2;
                animation-duration   : 1s;
            }

            &:last-child {
                margin-right: 0;
            }

            &:first-child {
                margin-left: 0;
            }


        }
    }
}

@keyframes growcircle1 {
    0% {
        background-color: transparent;
        transform       : scale(1);
    }

    100% {
        transform       : scale(15);
        background-color: theme("colors.wolf-gray-dark.600");
    }
}


@keyframes circleGrowClipPath {

    0% {
        clip-path: circle(20px at 100% 100%);

    }

    100% {
        clip-path: circle(2000px at 100% 100%);
    }

}

@keyframes circleGrowClipPath2 {

    0% {
        clip-path: circle(20px at 0% 0&);
    }

    100% {
        clip-path: circle(2000px at 0% 0%);
    }

}