.mobile-navbar-v2 {
    // background-color: red;
    position           : fixed;
    z-index            : 500;
    width              : 100%;
    height             : 60px;
    // background-color: red;
    padding            : 0 15px;
    display            : flex;
    justify-content    : space-between;
    align-items        : center;

    .hambuguer-drop-menu-secction {
        display : flex;
        position: relative;

        .wolf-habuguer-drop-menu {
            position: relative;

            .wolf-habuguer-drop-menu-buttom {
                // background-color: red;
                width           : 36px;
                height          : 36px;
                display         : flex;
                justify-content : center;
                align-items     : center;
                border-radius   : 8px;
                background-color: rgba($color: #495263, $alpha: 0.2);
                backdrop-filter : blur(5px);

                transition: background-color .5s;

                &:hover {
                    background-color: theme("colors.wolf-gray-accent.600");
                }

            }


        }

    }

}