.explorer-menu-fillter {
    background-color: theme("colors.wolf-gray-dark.400");
    height          : 60px;
    border-radius   : 16px;
    border          : 1px solid theme("colors.wolf-gray-dark.900");
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    padding         : 0 15px;



}