.explorer-menu-fillter {

    height       : 60px;
    border-radius: 0 0 8px 8px;

    display         : flex;
    justify-content : space-between;
    align-items     : center;
    padding         : 0 15px;
    background-color: theme("colors.wolf-gray-dark.500");
    position        : sticky;
    top             : 60px;
    z-index         : 500;
    border-top      : 1.5px solid theme("colors.wolf-gray-dark.800");



}