.profile-menu {
    height          : 60px;
    width           : 100%;
    background-color: theme("colors.wolf-gray-dark.400");
    position        : sticky;
    top             : 80px;
    z-index         : 500;


    span {}
}