.thumbnails-nfts {

    padding         : 15px;
    display         : flex;
    width           : 100%;
    border          : 1px solid theme("colors.wolf-gray-dark.800");
    background-color: theme("colors.wolf-gray-dark.400");
    border-radius   : 16px;
    align-items     : center;

    .multimedia-zone {
        height          : 80px;
        width           : 80px;
        border-radius   : 16px;
        overflow        : hidden;
        // border       : 2px solid theme("colors.wolf-gray-dark.1300");

        img {
            width     : 100px;
            height    : 100px;
            object-fit: cover;
        }


    }

    .price-zone {

        flex-grow         : 1;
        display           : flex;
        flex-direction    : column;
        height            : 100%;
        justify-content   : center;
        padding-left      : 15px;
        // height         : 100%;

        .price-zone-item {
            width: 100%;
        }

        span {
            font-size: 13px;

        }

        .key {
            font-weight: 600;
            color      : theme("colors.wolf-gray-light.1000");
        }

        .value {
            color         : theme("colors.wolf-gray-light.1800");
            // display    : flex;
            margin-left   : 15px;
        }
    }
}

.wallet-section {
    padding: 16px;

    span {
        font-size: 14px;
        display  : block;
        width    : 100%;
        overflow : hidden;
        max-width: 180px;
    }

    .wallet-public-key {
        color: theme("colors.wolf-gray-light.1100");
    }

    .blochain-name {
        color      : theme("colors.wolf-gray-light.2100");
        font-weight: 700;
    }

    .wallet-accoutn {}
}