.sale-info-price {
    background     : rgb(73, 82, 99);
    background     : linear-gradient(180deg, rgba(73, 82, 99, .2) 0%, rgba(19, 22, 26, 1) 100%);
    backdrop-filter: blur(5px);
    padding        : 15px;
    border-radius  : 16px 16px 0 0;
    // border: 1px solid theme("colors.wolf-gray-dark.600");
    overflow       : hidden;
    margin-top     : 30px;
}

.button-zone-container {
    // background-color: red;
    margin-top: 15px;

    .wolf-buttom {
        height         : 40px;
        display        : flex;
        justify-content: center;
        align-items    : center;
        font-size: 16px;

    }

    .button-zone-item {
        flex-grow: 1;
        margin   : 0 5px;





        &:first-child {
            margin-left: 0;
            flex-grow  : 3;
        }

        &:last-child {
            margin-right: 0;
            flex-grow   : 1;
        }
    }
}