$bluWhite : theme("colors.gray.50");

.wolfy-hero {
    // width              : 100vw;
    height          : 100vh;
    position        : relative;
    padding-top     : 80px;
    padding-left    : 30px;
    padding-right   : 30px;
    background-color: red;


    .wolfy-hero-cover-bg-image {
        width             : 100%;
        height            : 100%;
        position          : absolute;
        top               : 0;
        left              : 0;
        animation-duration: 3s;
        animation-name    : fadein;

    }

    .wolfy-blur-fillter {
        position           : absolute;
        // background-color: #2a2f39;
        background         : rgb(172, 179, 193);
        background         : linear-gradient(180deg, rgba(172, 179, 193, .2) 0%, rgba(12, 13, 16, 1) 100%);
        backdrop-filter    : blur(10px);
        width              : 100%;
        height             : 100%;
        top                : 0;
        left               : 0;
    }

    .w-swiper-box {
        position: relative;

        &:hover {

            cursor: pointer;

            .wolf-chevron {
                opacity: 1;
            }

            .w-glass-butom {

                // background-color: red !important;
                &::before {
                    opacity: 1 !important;
                }
            }

            .cover-img {
                transform: scale(1.05);
            }
        }
    }


    .swiper {
        border-radius: 16px;
    }

    .wolf-chevron {
        position           : absolute;
        z-index            : 100;
        // background-color: red;
        // top: 0;
        width              : 40px;
        height             : 40px;
        background-color   : theme("colors.wolf-gray-dark.800");
        color              : theme("colors.wolf-gray-light.900");
        display            : flex;
        justify-content    : center;
        align-items        : center;
        font-size          : 25px;
        border-radius      : 50%;
        border             : 2px solid theme("colors.wolf-gray-light.300");
        transition         : border .5s, background-color .5s, color .5s, opacity .5s;
        opacity            : 0;



    }



    .wolf-chevron-left {
        top   : 0;
        left  : -20px;
        bottom: 0;
        margin: auto;


        &:hover {
            background-color: theme("colors.wolf-blue.500");
            border-color    : theme("colors.wolf-gray-light.2200");
            color           : theme("colors.wolf-gray-light.2200");


        }

    }

    .wolf-chevron-right {
        top   : 0;
        right : -20px;
        bottom: 0;
        margin: auto;


        &:hover {
            background-color: theme("colors.wolf-pulple.500");
            border-color    : theme("colors.wolf-gray-light.2200");
            color           : theme("colors.wolf-gray-light.2200");


        }

    }

    .collection-container {

        width        : 300px;
        border-radius: 16px;
        border-radius: 2px solid theme("colors.wolf-gray-light.100");

        // background-color: blue;
        .collection-item {
            // opacity     : .3;
            // max-width: 1000px;
            // height: 200px;
            // height  : calc(100vh-200px);
            height          : 450px;
            overflow        : hidden;
            border-radius   : 16px;
            border-radius   : 2px solid theme("colors.wolf-gray-light.100");
            position        : relative;
            // opacity      : 0.2;

            .cover-img {
                width     : 100%;
                height    : 100%;
                object-fit: cover;
                transition: transform .5s;
            }

            .cover-filter {
                background-color: theme("colors.wolf-gray-dark.500");
                opacity         : 0.0;
                width           : 100%;
                height          : 100%;
                position        : absolute;
            }

            .collection-item-info-area {
                position        : absolute;
                bottom          : 0;
                padding         : 30px;
                padding-top     : 40px;
                font-weight     : 800;
                background-color: rgba(#fff, 0.1);
                backdrop-filter : blur(2px);
                width           : 100%;
                background      : linear-gradient(180deg, rgba(#fff, 0.0) 0%, rgba(#2a2f39, 0.5) 100%);


                .w-face-ing-zone {
                    padding         : 3px;
                    width           : 80px;
                    height          : 80px;
                    border-radius   : 50%;
                    position        : absolute;
                    top             : -40px;
                    background-color: theme("colors.wolf-blue.700");
                    overflow        : hidden;
                    background      : rgb(162, 4, 191);
                    background      : linear-gradient(90deg, rgba(5, 99, 222, 1) 0%, rgba(162, 4, 191, 1) 100%);


                    img {
                        width        : 100%;
                        height       : 100%;
                        object-fit   : cover;
                        border-radius: 50%;
                    }
                }


                h2 {
                    font-size: 32px;
                    color    : #fff;
                }

                h3 {
                    font-style: 30px;
                    color     : #fff;
                }

                h6 {
                    font-size  : 16px;
                    font-weight: 500;
                    color      : #fff;
                }

                .w-glass-butom {
                    font-weight     : 400;
                    color           : #fff;
                    width           : 100%;
                    max-width       : 300px;
                    background-color: rgba($color: #ffffff, $alpha: 0.3);
                    padding         : 15px;
                    border-radius   : 8px;
                    position        : relative;
                    z-index         : 10;


                    &::before {
                        content      : "";
                        display      : block;
                        background   : rgb(162, 4, 191);
                        background   : linear-gradient(90deg, rgba(5, 99, 222, 1) 0%, rgba(162, 4, 191, 1) 100%);
                        width        : 100%;
                        height       : 100%;
                        position     : absolute;
                        z-index      : -1;
                        left         : 0;
                        top          : 0;
                        border-radius: 8px;
                        border       : 1px solid theme("colors.wolf-gray.575");
                        opacity      : 0;
                        transition   : opacity .5s;


                    }

                }

            }



        }
    }

}

@keyframes fadein {

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}