.wolfy-hero {
    width           : 100vw;
    height          : 100vh;
    // background-color: red;
    position        : relative;
    padding-top     : 80px;
    padding-left    : 30px;
    padding-right   : 30px;


    // .wolfy-hero-swiper {
    //     // margin-top: 80px;
    //     margin-top: 80px;
    // }

}