* {
  &::-webkit-scrollbar {
    width              : 12px;
    padding            : 5px;
    // background-color: red;
    // margin-right: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    // box-shadow: inset 0 0 5px grey;
    border-radius      : 10px;
    padding            : 10px;
    // background-color: blue;

  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background   : theme("colors.wolf-gray-dark.1800");
    border-radius: 102px;
    transition   : background-color .5s;

    &:hover {
      background-color: theme("colors.wolf-blue-purple.500");

    }

    // padding: 0 3px;

  }
}


body {
  background-color: theme("colors.wolf-gray-dark.100");
  // overflow: hidden;


  &::-webkit-scrollbar {
    width              : 12px;
    padding            : 5px;
    // background-color: red;
    // margin-right: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    // box-shadow: inset 0 0 5px grey;
    border-radius      : 10px;
    padding            : 10px;
    // background-color: blue;

  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background   : theme("colors.wolf-gray-dark.1800");
    border-radius: 102px;
    transition   : background-color .5s;

    &:hover {
      background-color: theme("colors.wolf-blue-purple.500");

    }

    // padding: 0 3px;

  }

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color      : theme("colors.wolf-gray.825");
  font-family: "open-sans";
  font-weight: 700;
}