@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./fonts-theme";
@import "./html-elements";
@import "./components/buttom";
@import "./components/tooltip";
@import "./components//modal";

@import "./page";
@import "./components/pc-navbar";
@import "./components/forms";