.wolf-item-data-contianer {

    margin-top         : 80px;
    padding            : 0 30px;
    display            : flex;
    flex-wrap          : wrap;
    align-items        : stretch;
    // background-color: blue;
    position           : relative;

    // background-color: rebeccapurple;
    .wolf-item-data-item {
        overflow       : hidden;
        height         : 100%;
        display        : flex;
        justify-content: center;

        &:first-child {
            // background-color: purple;
            height: 100%;

            // position: absolute;
            @media (min-width: 700px) {
                position: sticky;
                top     : 80px;
            }

        }

    }

    .wolf-info-section-data {
        max-width: 500px;
        width    : 100%;
    }

    .colection-father-zone {

        display: flex;
        width  : 100%;

        .title-zone {
            display    : flex;
            align-items: center;

            &:hover {
                .text-zone h3 {
                    color: theme("colors.wolf-gray-light.2000");
                }
            }

        }

        .avatar-zone {
            width        : 30px;
            height       : 30px;
            position     : relative;
            margin-right : 8px;
            border-radius: 50%;

            img {
                width        : 100%;
                height       : 100%;
                object-fit   : cover;
                border-radius: 50%;
            }
        }

        .text-zone {
            h3 {
                color     : theme("colors.wolf-gray-light.1000");
                transition: color .5s;
            }
        }


    }

    .nft-title {
        color      : theme("colors.wolf-gray-light.2200");
        font-size  : 24px;
        font-weight: 600;
    }

    .info-data {

        p {
            font-size  : 14px;
            font-weight: 500;
            color      : theme("colors.wolf-gray-light.1500");
        }

    }

    .atributes-container {
        // background-color: theme("colors.wolf-gray-dark.500");
        display           : flex;
        flex-wrap         : wrap;
        // justify-content: space-between;


        .atribute-item {
            background-color: theme("colors.wolf-gray-dark.500");
            margin          : 5px;
            padding         : 5px;
            display         : flex;
            flex-direction  : column;
            min-width       : 140px;
            justify-content : center;
            align-items     : center;
            border-radius   : 8px;
            border          : 2px solid theme("colors.wolf-gray-dark.1000");

            .trait-type-text {
                color      : theme("colors.wolf-gray-light.700");
                font-weight: 700;
                font-size  : 13px;
            }

            .value {
                color    : theme("colors.wolf-gray-light.1500");
                font-size: 14px;
            }

            .rarity {
                font-size  : 12px;
                color      : theme("colors.wolf-blue-purple.600");
                font-weight: 500;
            }



        }

    }

    .range-atributes-container {
        padding         : 30px;
        border          : 1px solid theme("colors.wolf-gray-dark.800");
        background-color: theme("colors.wolf-gray-dark.300");
        border-radius   : 16px;

        .range-atributes-item {
            display        : flex;
            width          : 100%;
            padding        : 10px 0px;
            justify-content: space-between;

            .range-a-key {
                // background-color: red;
                font-size  : 16px;
                font-weight: 500;
                color      : theme("colors.wolf-gray-light.1100");
            }

            .range-a-value {
                font-size: 16px;
                color    : theme("colors.wolf-gray-light.2000");
            }

        }
    }

    .number-atributes-container {
        padding         : 30px;
        border          : 1px solid theme("colors.wolf-gray-dark.800");
        background-color: theme("colors.wolf-gray-dark.300");
        border-radius   : 16px;


        .number-atribute-item {
            display        : flex;
            justify-content: space-between;
            padding        : 15px 0;
        }

        .atribute-n-key {
            // background-color: red;
            font-size  : 14px;
            font-weight: 500;
            color      : theme("colors.wolf-gray-light.1100");
        }

        .atribute-n-value {
            font-size: 16px;
            color    : theme("colors.wolf-gray-light.1800");
        }

    }

    .atribute-boots-continer {
        padding         : 30px;
        border          : 1px solid theme("colors.wolf-gray-dark.800");
        background-color: theme("colors.wolf-gray-dark.300");
        border-radius   : 16px;

        .boost-percentage-item {
            // background-color: red;
            display            : flex;
            // max-width       : 200px;
            flex-direction     : column;
            align-items        : center;
            position           : relative;
        }

        .boots-key {
            font-size  : 14px;
            font-weight: 500;
            color      : theme("colors.wolf-gray-light.1100");
        }

        .loop-bg {
            width           : 80px;
            height          : 80px;
            background-color: theme("colors.wolf-gray-dark.500");
            position        : absolute;
            left            : 0;
            top             : 0;
        }

        .boot-value {
            position: absolute;
            z-index : 5;
        }
    }

}