.wolf-item-data {

    // background-color: rebeccapurple;
    .info-data-zone {
        // background-color: purple;
        max-width: 500px;
    }


    .nft-title{
        font-size: 24px;
        font-weight: 600;
    }

    .text-nft-description {
        color      : theme("colors.wolf-gray-light.1500");
        font-size  : 14px;
        font-weight: 500;
    }


}