.wolf-item-data-contianer {

    margin-top: 80px;
    padding   : 0 30px;
    display   : flex;
    flex-wrap : wrap;

    // background-color: rebeccapurple;
    .wolf-item-data-item {
        // background-color   : red;
        // width           : 50%;
        height: 100%;
    }

}